/* Mobile */
@media screen and (max-width: 46.1875em) {
    body {
        overflow-x: hidden;
    }
    .header {
        padding: 0 8px;
        height: 80px;
    }
    .header .logo svg {
        width: 88px;
    }
    .tgLanguage {
        width: 48px;
        height: 48px;
    }
    .tgLanguage i {
        font-size: 24px;
    }
    .tgLanguage .lang_switch-caret {
        left: 14px;
    }
    .header nav,
    .account {
        display: none;
    }
    .menuBtn {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        background-color: #282828;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menuBtn i {
        color: #fff;
        font-size: 20px;
    }
    .navbar_mobile {
        width: 100%;
    }
    .content_search,
    .diamon-left,
    .diamon-right {
        display: none;
    }
    .background-img {
        top: 80px;
    }

    .champion-list {
        padding: 0 0 40px 0;
        display: block;
    }
    .champion-item {
        height: 80px;
        margin: 0;
        padding: 0;
    }
    .champion-avatar {
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;
        background-size: 300%;
        width: 20%;
    }
    .champion-content {
        background-color: rgba(0,0,0,0);
        border-top: 0;
        left: 20%;
        text-align: left;
        top: 0;
    }
    .champion-action {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        background-color: rgba(0,0,0,0);
        border-top: 0;
        height: 80px;
        line-height: 80px;
        width: 40%;
        opacity: 1;
        visibility: visible;
        border: none;
    }
    .champion-action span {
        letter-spacing: 0;
    }
    .champion-box:hover {
        border: none;
        transform: scale(1);
    }
    .footer ul {
        flex-direction: column;
        text-align: center;
        padding: 24px 0 4px;
    }
    .footer ul li a {
        margin-bottom: 24px;
    }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    body {
        overflow-x: hidden;
    }
    .header {
        padding: 0 16px;
        height: 80px;
    }
    .header .logo svg {
        width: 95px;
    }
    .tgLanguage {
        width: 48px;
        height: 48px;
    }
    .tgLanguage i {
        font-size: 24px;
    }
    .header nav,
    .account,
    .content_search-arrange {
        display: none;
    }
    .menuBtn {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        background-color: #282828;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menuBtn i {
        color: #fff;
        font-size: 20px;
    }
    .tgLanguage .lang_switch-caret {
        left: 14px;
    }
    .content_search-container {
        padding: 0 40px;
    }
    .champion-list {
        padding-left: 50px;
        padding-right: 50px;
        column-gap: 2px;
        row-gap: 50px;
    }
    .champion-item {
        height: 325px;
    }
    .champion-box {
        max-width: 123.7px;
        height: 100%;
    }
    .champion-avatar {
        width: 100%;
        height: 100%;
    }
    .champion-title h3 {
        letter-spacing: 0;
        overflow: hidden;
    }
    .champion-action span {
        letter-spacing: 0;
    }
    .champion-box:hover .champion-content {
        bottom: 18%;
    }
}

/* tablet pro */
@media screen and (min-width: 64em) and (max-width: 85.375em) {
    body {
        overflow-x: hidden;
    }
    .header {
        padding: 0 16px;
        height: 80px;
    }
    .header .logo svg {
        width: 95px;
    }
    .tgLanguage {
        width: 48px;
        height: 48px;
    }
    .tgLanguage i {
        font-size: 24px;
    }
    .header nav,
    .account,
    .content_search-arrange {
        display: none;
    }
    .menuBtn {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        background-color: #282828;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menuBtn i {
        color: #fff;
        font-size: 20px;
    }
    .tgLanguage .lang_switch-caret {
        left: 14px;
    }
}
